@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  /* Chrome, Safari用 */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* IE, Edge用 */
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}